@media (max-width: 390px) {
  .home {
    .home_data-title {
      font-size: 2.8rem;
    }
    .home_container {
      padding-top: 10px;
    }
    .home_img {
      height: 250px;
      width: 250px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    // .nav {
    //   height: calc($header-height + 1.5rem);
    // }
    .nav_link {
      color: black;
      text-transform: initial;
    }
    .nav_link:hover {
      color: $primary-color;
    }
    .nav_dark {
      position: initial;
    }
    .nav_menu {
      display: flex;
      height: 100%;
      column-gap: 1rem;
    }
    .nav_item {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .nav_list {
      font-family: $body-font;
      align-items: center;
      flex-direction: row;
      column-gap: 4rem;
      height: 60px;
    }
    .nav_toggle,
    .nav_close,
    .change-theme-name {
      display: none;
    }
  }

  .scroll-header .nav_link {
    color: $body-color;
  }

  .home {
    flex-direction: row;
    .home_container {
      flex-direction: row;
      justify-content: space-between;
    }
    .home_data-title {
      font-size: 5rem;
    }
  }

  .speaker {
    flex-direction: row;
    .speaker_container {
      flex-direction: row;
    }
    .speaker_box {
      flex-direction: row;
    }
  }

  .about {
    .about_box {
      flex-direction: row;
    }
  }

  .form {
    .form_container {
      flex-direction: row;
      justify-content: space-between;
    }
    .contact_image {
      width: 400px;
      height: 500px;
    }
    // .contact_form {
    //   width: 300px;
    //   height: 500px;
    // }
  }
}
